@mixin notification {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  border: 1px solid #dfe5ec;
  border-radius: 5px;
}

.cards-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.not-found {
  @include notification;
  background-color: #f1c2c2;
}

.error {
  @include notification;

  background-color: #f14444;
}

.show-more {
  @include notification;
  margin: 30px auto;
  width: 100%;
  background-color: #2196f3;
  color: white;
}
