.tabs {
  max-width: 700px;
  height: 50px;

  display: flex;

  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  border: 1px solid #dfe5ec;
  border-radius: 5px;

  @media (max-width: 767px) {
    width: 100%;
    font-size: 13px;
  }

  &__item {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    outline: none;

    cursor: pointer;

    &:hover {
      background-color: #2196f3;
      color: #ffffff;
    }

    &:first-child {
      border-right: 1px solid #dfe5ec;
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    &--active {
      background-color: #2196f3;
      color: #ffffff;
    }
  }
}
