.App {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'header header header'
    'aside content content';

  @media (max-width: 700px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'aside'
      'content';
    grid-gap: 10px;
  }

  &__inner {
    grid-area: content;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (max-width: 767px) {
      // width: 232px;
      margin: 0 auto;
    }
  }
}

.logo {
  width: 80px;
  height: 80px;
  grid-area: header;
  position: relative;

  margin: 50px auto;
  background-position: center;
  background-image: url('../../img/Logo.svg');

  @media (max-width: 764px) {
    margin: 5px auto;
  }
}

.spinner {
  position: absolute;
  top: -5px;
}
