.transfer-filter {
  width: 100%;
  max-width: 232px;
  min-width: 165px;
  height: 252px;
  padding-top: 1rem;
  margin: 0 auto;

  grid-area: aside;

  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  border-radius: 5px;

  @media (max-width: 424px) {
    max-width: 450px;
  }

  &__header {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 20px;
  }
}

.option {
  padding-top: 10px;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  height: 40px;
  width: 100%;

  &:hover {
    background-color: #f1fcff;
  }
}

.check {
  margin: 10px 20px;
  padding-left: 25px;
  cursor: pointer;
  &__input {
    appearance: none;
    cursor: pointer;
    opacity: 0;

    &:checked + .check__box {
      background: center / 80% no-repeat url(../../img/input-checked.svg);
    }
  }

  &__box {
    position: absolute;
    margin-left: -30px;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    border: 1px solid #2196f3;
    border-radius: 2px;
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}
